<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESLTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ESLTracker.Properties.Settings>
            <setting name="ShowDeckStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPositionX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowPositionY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OverlayWindowPositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OverlayWindowPositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PlayerRank" serializeAs="String">
                <value>TheRitual</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NewDeck_VersusArenaName" serializeAs="String">
                <value>Vs arena {0:yy/MM/dd HH:mm}</value>
            </setting>
            <setting name="NewDeck_SoloArenaName" serializeAs="String">
                <value>Solo arena {0:yy/MM/dd HH:mm}</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamesFilter_SelectedPredefinedDateFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="GamesFilter_DayCutoffTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Packs_ScreenshotAfterAdded" serializeAs="String">
                <value>True</value>
            </setting>
        </ESLTracker.Properties.Settings>
    </userSettings>
</configuration>