<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ESLTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="false"
	  throwExceptions="false"
	  internalLogLevel="Off">
		<!--<targets>
			<target name="logfile" xsi:type="File" fileName="info.log" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>-->
	</nlog>
    <userSettings>
        <ESLTracker.Properties.Settings>
            <setting name="ShowDeckStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPositionX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowPositionY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OverlayWindowPositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OverlayWindowPositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PlayerRank" serializeAs="String">
                <value>TheRitual</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NewDeck_VersusArenaName" serializeAs="String">
                <value>Vs arena {0:yy/MM/dd HH:mm}</value>
            </setting>
            <setting name="NewDeck_SoloArenaName" serializeAs="String">
                <value>Solo arena {0:yy/MM/dd HH:mm}</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamesFilter_SelectedPredefinedDateFilter" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="GamesFilter_DayCutoffTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Packs_ScreenshotAfterAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Packs_ScreenshotNameTemplate" serializeAs="String">
                <value>Pack_{n:0000}_{d:yyyy_MM_dd_HH_mm}</value>
            </setting>
            <setting name="General_ScreenshotNameTemplate" serializeAs="String">
                <value>Screenshot_{0:yyyy_MM_dd_HH_mm_ss}</value>
            </setting>
            <setting name="OverlayDeck_WindowPositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OverlayDeck_WindowPositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OverlayDeck_Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayDeck_ShowOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayWindow_ShowOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeckDeleteMode" serializeAs="String">
                <value>Forbidden</value>
            </setting>
            <setting name="DeckViewSortOrder" serializeAs="String">
                <value>Name</value>
            </setting>
        </ESLTracker.Properties.Settings>
    </userSettings>
</configuration>